body
{
    font-size: 14px;
    background: -moz-radial-gradient(red, green, blue);
    background: radial-gradient(red, green, blue);
    color: Aqua;
    background: black;
}
b
{
    display: block;
    left:100px;
    top:100px;
	width: 50px;
	height: 50px;
	border-radius: 6px;
	background:red;
    position:absolute;
    animation:myfirst 5s;
    animation-iteration-count: infinite;
	
}

b:nth-child(1) {
  animation-delay: 1.25s;
}
b:nth-child(2) {
  animation-delay: 2.5s;
}
b:nth-child(3) {
  animation-delay: 3.75s;
  
  
  
  
}



@keyframes myfirst
{
0%   {background:red; left:100px; top:100px;}
25%  {background:yellow; left:160px; top:100px;}
50%  {background:blue; left:160px; top:160px;}
75%  {background:green; left:100px; top:160px;}
100% {background:red; left:100px; top:100px;}
}